<div class="col-10 offset-1 about">
  <h1 class="splurty">About Splurty</h1>
  <p class="bio">
    Splurty was the very first web application built by <a target="blank_" href="http://github.com/cduerkes">Christopher Duerkes</a> during his course of study with the <a target="blank_" href="http://www.thefirehoseproject.com/">Firehose Project</a> in April 2017.
  </p>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />