<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="blank_" href="http://github.com/cduerkes">Christopher Duerkes</a>.
  </p>

  <br />

  <p>
    He began studying full-stack web development with the <a target="blank_" href="http://www.thefirehoseproject.com/">Firehose Project</a> in April 2017.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis magna eget congue aliquet. Fusce sit amet vulputate metus. Suspendisse vitae nisi massa. In hac habitasse platea dictumst. Donec ut imperdiet nisi, eu rutrum ante. Praesent at molestie tortor. Nulla facilisi.
  </p>
      

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'chris.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Christopher Duerkes</h2>
      <br />
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis magna eget congue aliquet. Fusce sit amet vulputate metus. Suspendisse vitae nisi massa. In hac habitasse platea dictumst. Donec ut imperdiet nisi, eu rutrum ante. Praesent at molestie tortor. Nulla facilisi. Proin maximus pulvinar ligula quis aliquam. Mauris suscipit mauris eu imperdiet varius. Nunc sollicitudin, quam ac molestie placerat, lorem metus interdum ipsum, nec bibendum velit urna nec justo. Curabitur nec elit a nunc congue vehicula quis vel nulla.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />